<!DOCTYPE html>
<html>
	<head>
		<title>Cheiros.in</title>
		<script src="js/home.js"></script>
	</head>
	<body>
		<div id="particles-js"></div>

        <button class="buttonlogin"; id="login">Login</button>
			<div class="text">
				<h1>Bem vindo!</h1>
                <button id="curriculo";>Currículo</button><br>
                <button id="github";">Github</button>
				
			</div>
            
		<!-- </div> -->
	</body>
</html>