<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cheiros.in</title>
  <%- include('../partials/floppa') %>

</head>
<body>
  <div id="particles-js"></div>
    <div class="text">

      <h1>Salve! ta logado</h1>
    <div/>


</body>
</html>