<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currículo</title>
        <link rel="stylesheet" type="text/css" href="/resume.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="container">

            <!-- Lado Esquerdo do currículo. -->

            <div class="left-Side"> <!-- Abre div lado esquerdo. -->
                <div class="profileText">
                    <div class="imgBx">
                        <img src="img/opai.jpg" width="300" height="250" width="180">
                    </div>
                    <h2>Bruno Neves Badaró<br><span>Engenheiro de Software</span></h2>
                </div>

                <!-- Parte de contato. -->

                <div class="contactInfo">
                    <h3 class="title">Contato</h3>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                            <span class="text">+55 21 99435-1533</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                            <span class="text">maturegt@gmail.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i>
                            </span>
                            <span class="text">cheiros.in</span>
                        </li>
                        <li style="white-space: nowrap;">
                            <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i>
                            </span>
                            <span class="text" ">linkedin.com/in/brunobadaro</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i>
                            </span>
                            <span class="text">github.com/bruno-1337</span>
                        </li>
                    </ul>
                </div>

                <!-- Fim da parte de contato. -->

                <!-- Parte de educação. -->

                <div class="contactInfo education">
                    <h3 class="title">Formação acadêmica:</h3>
                    <ul>
                        <li>
                            <h5>2019-2022</h5>
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h4>Centro Universitário Carioca </h4>
                        </li>
                    </ul>
                </div>

                <!-- Fim da parte de educação.  -->

                <!-- Parte de linguagem. -->

                <div class="contactInfo linguagem">
                    <h3 class="title">Idiomas:</h3>
                    <ul>
                        <li>
                            <span class="text">Português - Língua Nativa</span>
                            <span class="percent">
                                <div style="width: 100%;"></div>
                            </span>
                        </li>
                        <li>
                            
                            <span class="text">Inglês - C2 Proficient</span>
                            <span class="percent">
                                <div style="width: 100%;"></div>
                            </span>
                        </li>
                        <li>
                            
                            <span class="text">Espanhol - Básico</span>
                            <span class="percent">
                                <div style="width: 20%;"></div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div> <!-- Fecha div lado esquerdo. -->

            <!-- Fim da parte de linguagem. -->

            <!-- Fim do lado esquerdo. -->

            <!-- Lado direito do currículo. -->

            <div class="right-Side"> <!-- Abre div lado direito. -->
                <div class="about">
                    <h2 class="title2">Sobre mim</h2>
                    <p>
                        Recém formado em Análise e Desenvolvimento de Sistemas. 
                        Procuro uma oportunidade de primeiro emprego onde eu possa aprender, compartilhar conhecimento e ajudar a empresa a resolver desafios atuais e futuros.
                    </p>
                </div>
                <div class="about">
                    <h2 class="title2">Certificações</h2>
                    <div class="box">
                            <p><h4>Google</h4>- Python Crash Course</p>
                    </div>
                    <div class="box">
                        <p><h4>Google</h4>- Introduction to Git and Github</p>
                    </div>
                    <div class="box">
                        <p><h4>Google</h4>- Troubleshooting and Debugging Techniques</p>
                    </div>
                     <div class="box">
                    <p><h4>EF SET</h4>- English Certificate 78/100 C2 Proficient</p>
                     </div>
                    <div class="box">
                         <p><h4>Cisco</h4>- Introduction to Cybersecurity</p>
                 </div>


                    
                </div>

                <div class="about skills">
                    <h2 class="title2">Competências</h2>
                    <div class="box">
                        <p><span>C++</span> - Gamehacking e engenharia reversa</p>
                    </div>
                    <div class="box">
                        <p><span>Python</span> - Projetos de automação e robos de interação</p>
                    </div>
                    <div class="box">
                        <p><span>MySQL</span> - Instalação e configuração de servidores.</p>
                    </div>
                    <div class="box">
                        <p><span>FULL STACK</span> - HTML, CSS e JavaScript, pequenos projetos e landing pages.</p>
                    </div>
                    <div class="box">
                        <p><span>NodeJS</span>, <span>EJS</span> - Conhecimento básico.</p>
                    </div>
                
            </div> <!-- Fecha div lado direito. -->


    </body>
</html>